.popup__container {
  box-sizing: border-box;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 8px;
}

@media screen and (max-width: 568px) {
  .popup__container {
    gap: 5px;
  }
}

@media screen and (max-width: 425px) {
  .popup__container {
    flex-direction: column-reverse;
    align-items: center;
    width: min-content;
    margin: 87px auto;
  }
}
