.profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .profile {
    width: 88.13%;
    flex-direction: column;
  }
}
