.popup__button {
  width: 83.66%;
  height: 58px;
  padding: 0;
  margin: 18px auto 37px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .popup__button {
    width: 84.4%;
    height: 46px;
    margin: 15px auto 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
