.header {
  grid-area: header;
  margin: 45px auto 40px;
  max-width: 68.75%;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 855px) {
  .header {
    margin-top: 35px;
    max-width: 82%;
    padding-bottom: 34px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 28px auto 42px;
    max-width: 100%;
    padding-bottom: 27.33px;
  }
}
