.card__group {
  max-width: 242px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 23px 0 24px;
  display: grid;
  grid-template-columns: 1fr auto;
  color: rgba(0, 0, 0, 1);
  align-items: center;
}
