.popup__form {
  width: min-content;
  margin: 195px auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  .popup__form {
    width: min-content;
    margin-top: 0;
  }
}
