.popup__close-icon {
  width: 32px;
  height: 32px;
  background-image: url(../../../image/popup__close-icon.svg);
  margin-top: -40px;
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, .01);
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 568px) {
  .popup__close-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    margin-top: -30px;
  }
}

@media screen and (max-width: 425px) {
  .popup__close-icon {
    margin-top: 0;
    align-self: flex-end;
    width: 20px;
    height: 20px;
  }
}
