.popup__close-icon {
  width: 32px;
  height: 32px;
  background-image: url(./popup__close-icon.png);
  margin: 155px auto 10px 103%;
  cursor: pointer;
  border: none;
  background-color:  rgba(0, 0, 0, .01);
  background-repeat: no-repeat;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close-icon {
    margin: 87px auto 10px 92%;
    width: 320px;
  }
}

@media screen and (max-width: 425px) {
  .popup__close-icon {
    margin-left: 88%;
    width: 282px;
  }
}
