.profile__button_popup_add {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  align-self: center;
  background-image: url(../../../../image/botton_add.svg);
  padding: 23.02px 73px;
  margin-left: 20px;
  background-size: 22px;
  height: 50px;
}

@media screen and (max-width: 950px) {
  .profile__button_popup_add {
    padding: 20px 60px;
    margin-left: 0;
  }
}

@media screen and (max-width: 516px) {
  .profile__button_popup_add {
    width: 282px;
    margin: 10px auto 36px;
    background-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .profile__button_popup_add {
    margin: 32px auto 35px;
  }
}
