.profile__avatar {
  width: 120px;
  height: 120px;
  grid-area: img;
  background-image: url(./profile__avatar.jpg);
  background-size: cover;
  border-radius: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 425px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
