.card__like {
  background-image: url(../../../image/card__like.svg);
  background-color: #FFFFFF;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}
