.footer {
  grid-area: footer;
  max-width: 68.75%;
  margin: 66px auto 60px;
}

@media screen and (max-width: 855px) {
  .footer {
    max-width: 82%;
    margin: 56px auto 50px;
  }
}


@media screen and (max-width: 516px) {
  .footer {
    max-width: 100%;
    margin: 48px  auto 36px 27px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    max-width: 100%;
    margin-left: 17px;
  }
}
